<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
      
      注意：  DSCM  为关键字段请勿使用，不得使用DSCM进行拼接 。如DSCMPAGE
-->
<configuration>
  <appSettings>
    <add key="PageCode" value="UTF-8" />
    <!-- 设置网站文档编码 -->
    <add key="SqlServerData" value="Data Source=.;Initial Catalog=DSCM_ZC;User Id=sa;Password=Andy5117@1@;" />
    <!-- 数据库连接字符串 -->
    <add key="MD5STR" value="DSCM2015" />
    <!-- MD5加密字符串（8位） -->
    <add key="DCKEY" value="Guz(%&amp;hj7x89H$yuBI0456FtmaT5&amp;fvHUFCy76*h%(HilJ$lhj!y6&amp;(*jkP87jH7" />
    <!-- 对称加密加密字符串（8位） -->
    <add key="_DCKEY" value="E4ghj*Ghg7!rNIfb&amp;95GUY86GfghUb#er57HBh(u%g6HJ($jhWk7&amp;!hg4ui%$hjk" />
    <!-- 对称加密加密字符串（8位） -->
    <!-- 网站配置 -->
    <add key="DSCMTITLE" value="众漫后台管理平台" />
    <!-- 网站cookie -->
    <add key="COOKIE" value="DSCM" />
    <add key="DEBUG" value="0" />
    <!-- debug 1开0关 -->
    <add key="callbackurl" value="http://weixin.sddxcb.com/weixin/weixin.aspx?t=123" />
    <add key="appid" value="wxafc3f86000f8fc59" />
    <add key="appsecret" value="37209ee3881567b327eb91372fbd2323" />
    <add key="code" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid=%10%2|redirect_uri=%11%2|response_type=code|scope=snsapi_userinfo|state=STATE#wechat_redirect" />
    <add key="token" value="https://api.weixin.qq.com/sns/oauth2/access_token?appid=%10%2|secret=%11%2|code=%12%2|grant_type=authorization_code" />
    <add key="user_inf" value="https://api.weixin.qq.com/sns/userinfo?access_token=%10%2|openid=%11%2|lang=zh_CN" />
    <add key="ticket" value="https://api.weixin.qq.com/cgi-bin/ticket/getticket?access_token={0}|type=jsapi" />
    <add key="ref_token" value="https://api.weixin.qq.com/sns/oauth2/refresh_token?appid={0}|grant_type=refresh_token|refresh_token={1}" />
  </appSettings>
  <connectionStrings />
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <sessionState mode="InProc" cookieless="false" timeout="1" />
    <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Utilities.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add name="URLWrite" type="DSCM.Web.URLWrite" />
    </httpModules>
  </system.web>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>