<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>圈子首页</title>
<link type="text/css" rel="stylesheet" href="/Reception/resource/new/css/index.css" />
<script type="text/javascript" src="/Reception/resource/new/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Reception/resource/new/js/index.js"></script>
</head>

<body>
	<div id="content">
		<div id="head">
			<div class="inner clearfix">
				<div class="logo fl"><a href="#"><img src="/Reception/resource/new/images/logo.png" alt="" /></a></div>
				<div class="nav fl">
					<ul class="clearfix">
						<li class="click"><a href="index.htm">首页</a></li>
						<li><a href="#">浏览</a></li>
						<li><a href="#">APP</a></li>
						<li ><a href="#">更多</a><span id="more-click"></span></li>
					</ul>
				</div>
				<div class="search fr clearfix">
					<form action="">
						<input type="text" class="text fl" />
						<input type="submit" class="btn fl" value="" />
					</form>
				</div>
				<!--更多隐藏下拉菜单-->
				<div id="more">
					<span class="morehide-ins"></span>
					<ul class="morehide">
						<li class="more-1"><a href="setup.html">账号设置</a></li>
						<li class="more-2"><a href="">寻找朋友 </a></li>
						<li class="more-3"><a href="">帮助及回馈</a></li>
						<li id="more-4"><a href="">退出</a></li>
					</ul>
				</div>
				<!--更多下拉菜单-->
			</div>
		</div>
		<div id="container" class="clearfix">
			<div class="main fl">
				<div class="main_nav">
					<ul>
						<li class="face"></li>
						<li class="bg1"><a href="#">文字</a></li>
						<li class="bg2"><a href="photo.html">图片</a></li>
						<li class="bg3"><a href="#">音乐</a></li>
						<li class="bg4"><a href="#">视频</a></li>
					</ul>
				</div>
				<ul class="part">
					<li class="clearfix">
						<div class="part_face fl"><img src="/Reception/resource/new/images/headpic.png" alt="" /></div>
						<div class="part_con fr">
							<div class="part_bg"></div>
							<h1 class="arc_title">花语</h1>
							<p class="part_p">
								<img src="/Reception/resource/new/pic/test3.png" alt="" class="mr25 fl" />
								漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度。漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度。漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度。漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度。漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度。漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度。
							</p>
							<div class="part_more">展开</div>
							<div class="part_bottom">
								<div class="type fl clearfix"><span></span><a href="#" class="bgblue">那些走心的歌</a></div>
								<ul class="discuss fr clearfix">
									<li><a href="#">热度(117)</a></li>
								<li><a href="discuss.htm">评论(２)</a></li>
								<li><a href="share.htm">分享</a></li>
									<li><a href="#">推荐</a></li>
									<li style="padding:0;"><a href="#" style=" display:block;width:30px; height:30px;"></a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- 个人信息 -->
			<div class="person fr">
				<div class="per_infor clearfix">
					<div class="left fl">
						<h1>Akui_888</h1>
						<h3>jinrongkui45@163.com</h3>
					</div>
					<a href="#" class="right fr"><span></span></a>
				</div>
				<ul class="person_nav">
					<li class="visited1"><span class="bg1"></span><a href="arcticle.htm">文章</a></li>
					<li><span class="bg2"></span><a href="letter.htm">通知</a></li>
					<li><span class="bg3"></span><a href="letter_arc.htm">私信</a></li>
					<li class="visited"><span class="bg4"></span><a href="person.htm">个人设置</a></li>
				</ul>
			</div>
			<div class="person fr mt15">
				<ul class="person_nav">
					<li><span class="bg5"></span><a href="#">关注</a></li>
					<li class="visited"><span class="bg6"></span><a href="master-page.html">发现达人</a></li>
				</ul>
			</div>
			<!-- 个人信息 -->
		</div>
	</div>


</body>
</html>
