<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>圈子私信</title>
<link type="text/css" rel="stylesheet" href="/Reception/resource/new/css/index.css" />
<script type="text/javascript" src="/Reception/resource/new/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Reception/resource/new/js/index.js"></script>
</head>

<body>
	<div id="head">
		<div class="inner clearfix">
			<div class="logo fl"><a href="#"><img src="/Reception/resource/new/images/logo.png" alt="" /></a></div>
			<div class="nav fl">
				<ul class="clearfix">
					<li class="click"><a href="index.htm">首页</a></li>
					<li><a href="#">浏览</a></li>
					<li><a href="#">APP</a></li>
					<li><a href="#">更多</a><span></span></li>
				</ul>
			</div>
			<div class="search fr clearfix">
				<form action="">
					<input type="text" class="text fl" />
					<input type="submit" class="btn fl" value="" />
				</form>
			</div>
		</div>
	</div>
	<div id="container" class="clearfix">
		<div class="main fl">
			<div class="main_nav">
				<ul>
					<li class="face"></li>
					<li class="bg1"><a href="#">文字</a></li>
					<li class="bg2"><a href="#">图片</a></li>
					<li class="bg3"><a href="#">音乐</a></li>
					<li class="bg4"><a href="#">视频</a></li>
				</ul>
			</div>
			<div class="letter">
				<div class="letter_title">Jink45的私信</div>
				<div class="letter_arc mb40">
					<div class="question clearfix">
						<div class="question_head fr tr"><img src="/Reception/resource/new/images/headpic1.png" alt="" /></div>
						<div class="question_content fr">
							<div class="question_bg question_bgr"></div>
							<p>该信息是官方通知，如需回复请点击此处，给LOFTER发送意见反馈。</p>
							<!-- <h1>2014-09-30 18:26</h1> -->
						</div>
					</div>
				</div>
				<div class="letter_arc">
					<div class="question clearfix">
						<div class="question_head fl"><img src="/Reception/resource/new/images/headpic.png" alt="" /></div>
						<div class="question_content fl">
							<div class="question_bg question_bgl"></div>
							<p>漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度，是含有讽刺或幽默的一种浪漫主义的绘画。</p>
							<h1>2014-09-30 18:26</h1>
						</div>
					</div>
				</div>
				<div class="letter_arc">
					<div class="question clearfix">
						<div class="question_head fr tr"><img src="/Reception/resource/new/images/headpic.png" alt="" /></div>
						<div class="question_content fr">
							<div class="question_bg question_bgr"></div>
							<p>漫画是绘画艺术的一个品种，它常用夸张、比喻、象征、拟人、寓意等手法，直接或隐晦、含蓄地表达作者对纷纭世事的理解及态度，是含有讽刺或幽默的一种浪漫主义的绘画。</p>
							<h1>2014-09-30 18:26</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 个人信息 -->
		<div class="person fr">
			<div class="per_infor clearfix">
				<div class="left fl">
					<h1>Akui_888</h1>
					<h3>jinrongkui45@163.com</h3>
				</div>
				<a href="#" class="right fr"><span></span></a>
			</div>
			<ul class="person_nav">
				<li><span class="bg1"></span><a href="arcticle.htm">文章</a></li>
				<li><span class="bg2"></span><a href="letter.htm">通知</a></li>
				<li><span class="bg3"></span><a href="#">私信</a></li>
				<li class="visited"><span class="bg4"></span><a href="person.htm">个人设置</a></li>
			</ul>
		</div>
		<div class="person fr mt15">
			<ul class="person_nav">
				<li><span class="bg5"></span><a href="#">关注</a></li>
				<li class="visited"><span class="bg6"></span><a href="#">发现达人</a></li>
			</ul>
		</div>
		<!-- 个人信息 -->
	</div>
</body>
</html>
