<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>圈子私信</title>
<link type="text/css" rel="stylesheet" href="/Reception/resource/new/css/index.css" />
<script type="text/javascript" src="/Reception/resource/new/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Reception/resource/new/js/index.js"></script>
</head>

<body>
	<div id="content">
		<div id="head">
			<div class="inner clearfix">
				<div class="logo fl"><a href="#"><img src="/Reception/resource/new/images/logo.png" alt="" /></a></div>
				<div class="nav fl">
					<ul class="clearfix">
						<li class="click"><a href="index.htm">首页</a></li>
						<li><a href="#">浏览</a></li>
						<li><a href="#">APP</a></li>
						<li><a href="#">更多</a><span></span></li>
					</ul>
				</div>
				<div class="search fr clearfix">
					<form action="">
						<input type="text" class="text fl" />
						<input type="submit" class="btn fl" value="" />
					</form>
				</div>
			</div>
		</div>
		<div id="container" class="clearfix">
			<div class="main fl">
				<div class="main_nav">
					<ul>
						<li class="face"></li>
						<li class="bg1"><a href="#">文字</a></li>
						<li class="bg2"><a href="photo.html">图片</a></li>
						<li class="bg3"><a href="#">音乐</a></li>
						<li class="bg4"><a href="#">视频</a></li>
					</ul>
				</div>
				<div class="letter">
					<div class="letter_title">Jink45的私信</div>
					<ul class="letter_con">
						<a href="#">
						<li class="clearfix">
							<div class="letter_head fl"><img src="/Reception/resource/new/images/headpic.png" alt="" /></div>
							<div class="letter_text fl">
								<h1>来自众漫的通知<span class="letter_close disn"></span></h1>
								<p>“花语”主题展览，这是皮诺珍藏(Pinault Collection)在古驰博物馆的第七次展出，也是对古驰最具标志性元素之一：花卉图案(Flora)的完美呼应。</p>
								<h1 style="line-height:26px;">2015-10-25 20:46</h1>
							</div>
						</li>
						</a>
						<a href="#">
						<li class="clearfix">
							<div class="letter_head fl"><img src="/Reception/resource/new/images/headpic.png" alt="" /></div>
							<div class="letter_text fl">
								<h1>来自众漫的通知<span class="letter_close disn"></span></h1>
								<p>“花语”主题展览，这是皮诺珍藏(Pinault Collection)在古驰博物馆的第七次展出，也是对古驰最具标志性元素之一：花卉图案(Flora)的完美呼应。</p>
								<h1 style="line-height:26px;">2015-10-25 20:46</h1>
							</div>
						</li>
						</a>
						<!-- <li class="clearfix">
							<div class="letter_head fl"><img src="images/headpic.png" alt="" /></div>
							<div class="letter_text fl">
								<h1>来自众漫的通知<span class="letter_close disn"></span></h1>
								<p>“花语”主题展览，这是皮诺珍藏(Pinault Collection)在古驰博物馆的第七次展出，也是对古驰最具标志性元素之一：花卉图案(Flora)的完美呼应。</p>
								<h1 style="line-height:26px;">2015-10-25 20:46</h1>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
			<!-- 个人信息 -->
			<div class="person fr">
				<div class="per_infor clearfix">
					<div class="left fl">
						<h1>Akui_888</h1>
						<h3>jinrongkui45@163.com</h3>
					</div>
					<a href="#" class="right fr"><span></span></a>
				</div>
				<ul class="person_nav">
					<li><span class="bg1"></span><a href="arcticle.htm">文章</a></li>
					<li><span class="bg2"></span><a href="letter.htm">通知</a></li>
					<li><span class="bg3"></span><a href="letter_arc.htm">私信</a></li>
					<li class="visited"><span class="bg4"></span><a href="person.htm">个人设置</a></li>
				</ul>
			</div>
			<div class="person fr mt15">
				<ul class="person_nav">
					<li><span class="bg5"></span><a href="#">关注</a></li>
					<li class="visited"><span class="bg6"></span><a href="master-page.html">发现达人</a></li>
				</ul>
			</div>
			<!-- 个人信息 -->
		</div>
	</div>
</body>
</html>
