<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>圈子达人分页</title>
<link type="text/css" rel="stylesheet" href="/Reception/resource/new/css/index.css" />
<script type="text/javascript" src="/Reception/resource/new/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Reception/resource/new/js/index.js"></script>
</head>

<body>
<div id="head">
    <div class="inner clearfix">
        <div class="logo fl"><a href="#"><img src="/Reception/resource/new/images/logo.png" alt="" /></a></div>
        <div class="nav fl">
            <ul class="clearfix">
                <li class="click"><a href="index.htm">首页</a></li>
                <li><a href="#">浏览</a></li>
                <li><a href="#">APP</a></li>
                <li ><a href="#">更多</a><span id="more-click"></span></li>
            </ul>
        </div>
        <div class="search fr clearfix">
            <form action="">
                <input type="text" class="text fl" />
                <input type="submit" class="btn fl" value="" />
            </form>
        </div>
        <!--更多隐藏下拉菜单-->
        <div id="more">
            <span class="morehide-ins"></span>
            <ul class="morehide">
                <li class="more-1"><a href="setup.html">账号设置</a></li>
                <li class="more-2"><a href="">寻找朋友 </a></li>
                <li class="more-3"><a href="">帮助及回馈</a></li>
                <li id="more-4"><a href="">退出</a></li>
            </ul>
        </div>
        <!--更多下拉菜单-->
    </div>
</div>
<div id="container" class="clearfix">
    <div class="master-nav">
        <a href="">浏览</a>
        <a href="type.htm">标签</a>
        <a href="">品牌</a>
        <a href="">话题</a>
        <a href="">专题</a>
        <a href="master-page.html">达人</a>
        <a href="" style="width: 134px">模板</a>
    </div>
</div>
<div class="master-conten">
    <div id="master-con-top">
        <div>领域达人</div>
        <div>标签达人</div>
        <div style="width: 171px">我关注的人(3)</div>
        <div>寻找好友</div>
    </div>
    <div id="master-text">
        <ul class="mastt-nfl fl">
            <li class="mastt-nav">
                <div class="mas-fl">最近互动</div>
                <div class="mas-fr">最近关注</div>
            </li>
            <li class="mastt-paging">
                <div class="mastt-eject">
                    <div class="mastt-eject-top">
                        <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imga.png" alt=""/></a>
                        <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imgb.png" alt=""/></a>
                        <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imgc.png" alt=""/></a>
                    </div>
                    <div class="mastt-eject-bottom">
                        <div class="mastt-eject-pagup">海阔天空</div>
                        <div class="mastt-eject-pagdn">文章20 &nbsp;&nbsp;&nbsp;&nbsp;喜欢80 &nbsp;&nbsp;&nbsp;&nbsp;关注35</div>
                        <div class="masst-attention"><a href="" class="mastt-down"></a><span>已关注</span></div>
                        <div class="mastt-delta"></div>
                    </div>
                </div>
                <div class="mastt-txt">
                <div class="mastt-pagup">海阔天空</div>
                <div class="mastt-pagdn">02/10 10:48更新</div>
                </div>
            </li>
            <li class="mastt-paging" style="margin-left:1px">
                <div class="mastt-eject">
                <div class="mastt-eject-top">
                    <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imga.png" alt=""/></a>
                    <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imgb.png" alt=""/></a>
                    <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imgc.png" alt=""/></a>
                </div>
                <div class="mastt-eject-bottom">
                    <div class="mastt-eject-pagup">海阔天空</div>
                    <div class="mastt-eject-pagdn">文章20 &nbsp;&nbsp;&nbsp;&nbsp;喜欢80 &nbsp;&nbsp;&nbsp;&nbsp;关注35</div>
                    <div class="masst-attention"><a href="" class="mastt-down"></a><span>已关注</span></div>
                    <div class="mastt-delta"></div>
                </div>
            </div>
                <div class="mastt-txt">
                    <div class="mastt-pagup">海阔天空</div>
                    <div class="mastt-pagdn">02/10 10:48更新</div>
                </div>
            </li>
            <li class="mastt-paging">
                <div class="mastt-eject">
                    <div class="mastt-eject-top">
                        <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imga.png" alt=""/></a>
                        <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imgb.png" alt=""/></a>
                        <a href="" class="eject-top-link"><img src="/Reception/resource/new/images/pop-imgc.png" alt=""/></a>
                    </div>
                    <div class="mastt-eject-bottom">
                        <div class="mastt-eject-pagup">海阔天空</div>
                        <div class="mastt-eject-pagdn">文章20 &nbsp;&nbsp;&nbsp;&nbsp;喜欢80 &nbsp;&nbsp;&nbsp;&nbsp;关注35</div>
                        <div class="masst-attention"><a href="" class="mastt-down"></a><span>已关注</span></div>
                        <div class="mastt-delta"></div>
                    </div>
                </div>
                <div class="mastt-txt">
                    <div class="mastt-pagup">海阔天空</div>
                    <div class="mastt-pagdn">02/10 10:48更新</div>
                </div>
            </li>
            <li class="mastt-paging" style="margin-left:1px;background-image: none">
            </li>
        </ul>
        <div class="fr">
            <form action="" method="post">
                <input type="text" id="search1" value="输入用户名称，查找关注的人" class="master-search"/>
                <div class="search1" id="click-search"></div>
            </form>
            <div>
                <div class="master-rec">推荐关注</div>
                <div class="master-mend">
                    <a href=""><img src="/Reception/resource/new/images/atten-img_01.png" alt=""/></a>
                    <a href=""><img src="/Reception/resource/new/images/atten-img_02.png" alt=""/></a>
                    <a href=""><img src="/Reception/resource/new/images/atten-img_03.png" alt=""/></a>
                    <a href=""><img src="/Reception/resource/new/images/atten-img_04.png" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--遮罩层-->
<div id="mask"></div>
<!--遮罩层-->
</body>
<script type="text/javascript">
    $(window).load(function() {
        var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: 'images/avatar.png'
        };
        var cropper = $('.imageBox').cropbox(options);
        $('#file').on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            };
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        });
        $('#btnCrop').on('click', function(){
            var img = cropper.getDataURL();
            $('.cropped').append('<img src="'+img+'">');
        });
        $('#btnZoomIn').on('click', function(){
            cropper.zoomIn();
        });
        $('#btnZoomOut').on('click', function(){
            cropper.zoomOut();
        });
        //弹出层关闭按钮
        $('#close').click(function(){
            $('.openwin').hide();
            $('#mask').hide();
        });
        $(document).ready(function(){
            $("#master-con-top div").click(
                    function() {
                        $(this).css("background","#efefef").siblings().css("background","#ffffff");
                    });
        });
        var mastt_timer = null; // 公用一个timeout变量
        $('.mastt-txt,.mastt-eject')
                .mouseover(function(){
            // 鼠标移入
            // 获取需要显示的元素
            var $eject = $(this).parents('li').find('.mastt-eject');
            // 清除timeout
            clearTimeout(mastt_timer);
            // 设置timeout，0.5秒后显示
            mastt_timer = setTimeout(function(){
                $('.mastt-eject').hide();
                $eject.show();// 显示
                // 清除timeout
                clearTimeout(mastt_timer);
                mastt_timer = null;
            },500);
        })
        .mouseout(function(){
            // 鼠标移出
            // 获取需要显示的元素
            var $eject = $(this).parents('li').find('.mastt-eject');
            // 清除timeout
            clearTimeout(mastt_timer);
            // 设置timeout，0.5秒后隐藏
            mastt_timer = setTimeout(function(){
                $eject.hide();// 隐藏
                // 清除timeout
                clearTimeout(mastt_timer);
                mastt_timer = null;
            },500);
        });
    });
</script>
</html>
