<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>圈子标签-分享</title>
<link type="text/css" rel="stylesheet" href="/Reception/resource/new/css/index.css" />
<script type="text/javascript" src="/Reception/resource/new/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Reception/resource/new/js/index.js"></script>
</head>

<body>
	<div id="head">
		<div class="inner clearfix">
			<div class="logo fl"><a href="#"><img src="/Reception/resource/new/images/logo.png" alt="" /></a></div>
			<div class="nav fl">
				<ul class="clearfix">
					<li class="click"><a href="index.htm">首页</a></li>
					<li><a href="#">浏览</a></li>
					<li><a href="#">APP</a></li>
					<li><a href="#">更多</a><span></span></li>
				</ul>
			</div>
			<div class="search fr clearfix">
				<form action="">
					<input type="text" class="text fl" />
					<input type="submit" class="btn fl" value="" />
				</form>
			</div>
		</div>
	</div>
	<div class="type_nav">
		<ul class="clearfix">
			<li style="border-left:0;"><a href="#">浏览</a></li>
			<li class="hover"><a href="type.htm">标签</a></li>
			<li><a href="#">品牌</a></li>
			<li><a href="#">话题</a></li>
			<li><a href="#">专题</a></li>
			<li><a href="master-page.html">达人</a></li>
			<li style="border-right:0;width:125px;"><a href="#">模板</a></li>
		</ul>
	</div>
	<div id="container" class="clearfix">
		<div class="main fl">
			<ul class="part">
				<li class="clearfix" style="margin-bottom:0;">
					<div class="part_face fl"><img src="/Reception/resource/new/images/headpic.png" alt="" /></div>
					<div class="part_con fr">
						<div class="part_bg"></div>
						<div class="part_title">思念远方<span>-众漫推荐</span></div>
						<p class="part_p">
							<img src="/Reception/resource/new/pic/test1.png" alt="" class="mr25 mb40 fl" />
							漫画
						</p>
						<div class="part_more fl">展开</div>
						<div class="part_bottom fl">
							<div class="type fl clearfix"><span></span><a href="#" class="grey">鲜花</a><a href="#" class="grey">B格</a></div>
							<ul class="discuss fr clearfix">
								<li><a href="#">热度(117)</a></li>
								<li><a href="discuss.htm">评论(２)</a></li>
								<li><a href="share.htm">分享</a></li>
								<li><a href="#">推荐</a></li>
								<li style="padding:0;"><a href="#" style=" display:block;width:30px; height:30px;"></a></li>
							</ul>
						</div>
					</div>
				</li>
				<div class="comment fr">
					<div class="comment_bg right1"></div>
					<ul class="share clearfix ml30">
						<li><a href="#" class="bg1">微信</a></li>
						<li><a href="#" class="bg2">新浪微博</a></li>
						<li><a href="#" class="bg3">QQ空间</a></li>
						<li><a href="#" class="bg4">百度贴吧</a></li>
						<li><a href="#" class="bg5">QQ空间</a></li>
						<li><a href="#" class="bg6">我的主页</a></li>
					</ul>
				</div>
			</ul>
		</div>
	</div>
</body>
</html>
