@charset "utf-8";
.pT10{padding-top:11px;}
.mB20{margin-bottom:20px;}
.itemBanner{width:100%;height:456px;}
.itemDetailsL{width:702px;float:left;}
.DetailTit{font-size:24px;color: #333;font-weight: bold;line-height: 40px;padding-bottom:6px;}
.initiator{padding-bottom:20px;}
.initiator span{font-size: 13px;color: #999;padding: 0 24px 0 0;}
.initiator a{color:#333;}
.initiator a:hover,
.detailNav li a:hover{color:#ff451c;}
.detaiLay{height:48px;background:#f7f7f7;border-bottom:1px solid #dfdfdf;}
.detailNav{height:48px;}
.detailNav li{padding:0 35px;height:48px;line-height:48px;color:#fff;float:left;border-right:1px solid #dfdfdf;}
.detailNav li a{font-size:14px;color:#333;}
.detailNav li.active{background:#ff451c;border-right:1px solid #ff451c;}
.detailNav li.active a{color:#fff;}
.shareWeibo{padding-top:14px;height:22px;}
.shareWeibo a{height:22px;line-height:22px;margin-left:3px;float:left;}
.ico_01{width:22px;background:url(../images/jiathis_ico_01.png) no-repeat 0 0;}
.ico_02{width:22px;background:url(../images/jiathis_ico_02.png) no-repeat 0 0;}
.ico_03{width:22px;background:url(../images/jiathis_ico_03.png) no-repeat 0 0;}
.ico_04{width:22px;background:url(../images/jiathis_ico_04.png) no-repeat 0 0;}
.shareCounter{font-size:12px;color:#565656;padding:0 8px 0 10px;background:url(../images/jiathisTips.png) no-repeat 0 0;}
.detaiCon{padding-top:25px; word-break:break-all;}
.detaiCon h2{color:#000;font-size:20px;font-weight:bold;padding:11px 0;}
.detaiCon p{font-size:14px;padding:11px 0;line-height:22px;color:#5c585a; word-break:break-all;}
.detaiCon img{width:700px;}
.detaiCorner{border-bottom:2px solid #e4e4e4;font-size:12px;padding:30px 0 40px;}
.detaiCorner span{font-size:13px;color:#999;padding-right:24px;}
.detaiCorner a{color:#ff451c;padding-right:6px;}
.detaiPortpe{padding-top:20px;overflow:hidden;}
.portpeTit{font-size:18px;font-weight:bold;line-height:30px;padding-bottom:020px;}
.portpeList{border:1px solid #e4e4e4;overflow:hidden;}
.portpeList li{float:left;border-left:1px solid #e4e4e4;}
.portpeList li.Nobor{border-left:0;}
.detaHot{padding:10px 11px 0 12px;width:150px;}
.detaHot h5{font-size:12px;padding:5px 0;}
.detaHot p{font-size:12px;color:#999;line-height:22px;}
.detaHot p em{color:#333;font-weight:bold;}
.detaHot img{width:150px;height:105px;}
.itemDetailsR{float:right;width:292px;}
.itembor{border:1px solid #dedee0;}
.statistics{padding:30px 30px 22px;}
.f-01{font-size:40px;font-weight:bold;}
.f-01 em{font-size:24px;float:left;font-weight:normal;}
.f-02{font-size:12px;color:#333;padding:8px 0;line-height:22px;}
.itemBarBox{height:16px;width:100%;}
.itemBar{float:left;width:180px;height:16px;background:#f7f7f7;margin-right:6px;}
.itemBar em{border:1px solid #e8e8e8;display:block;height:14px;background:#86cc33;}
.itemRaising{display:block;height:54px;border-left:1px solid #e0e0e0;margin-top:20px;}
.itemRaising dd{font-size:12px;color:#999;float:left;padding-left:10px;padding-right:5px;height:54px;width:60px;border-right:1px solid #e0e0e0;}
.itemRaising dd em{display:block;line-height:20px;font-size:20px;color:#333;padding:6px 0;font-weight:bold;}
.itemBartips{float:left;font-size:12px;height:16px;line-height:16px;overflow:hidden;}
.supLink{height:60px;}
.supportHash{width:174px;background:#ff451c;text-align:center;height:60px;}
.supportHash em{font-size:18px;color:#fff;display:inline-block;line-height:58px;padding-left:30px;background:url(../images/icon_18.png) no-repeat 0 center;}
.like_top{background:#00b6ff;text-align:center;height:60px;width:118px;}
.like_top em{font-size:18px;color:#fff;display:inline-block;line-height:58px;padding-left:30px;background:url(../images/icon_19.png) no-repeat 0 center;}
.itemMiddle{margin-top:16px;}
.itemMtit{font-size:12px;height:53px;line-height:52px;border-bottom:1px solid #e4e4e4;font-weight:normal;color:#333;}
.itemMtit em{font-size:24px;padding-left:22px;font-weight:bold;padding-right:18px;}
.itemMidCon{font-size:12px;line-height:22px;color:#333;padding:18px 22px;}
.sustainLink{height:63px;width:100%;text-align:center;background:#ff451c;color:#fff;display:block;line-height:60px;font-size:24px;}
.sustainLink:hover{color:#fff;}
.intereWarp{border:2px solid #dfdfdf;padding:14px 0 20px 20px;margin-top:20px;}
.intereTit{font-size:16px;font-weight:normal;}
.interList{width:222px;}
.interList li{position:relative;float:left;width:220px;border:1px solid #dadada;margin:10px 0;}
.interList li img{width:220px;float:left;margin-bottom:10px;}
.interList a{display:block;}
.interList p{font-size:12px;color:#333;line-height:20px;padding:0 10px;}
.linkInter{position:absolute;right:10px;top:10px;width:55px;line-height:20px;height:20px;background:url(../images/icon_20.png) no-repeat 0 0;}
.linkInter em{font-size:12px;color:#ff451c;display:block;padding-left:20px;background:url(../images/icon_21.png) no-repeat 4px center;}
.interItem{font-size:12px;border-bottom:4px solid #ff451c;padding:10px 0 10px 10px;height:20px;line-height:20px;overflow:hidden;}
.ItemtextR{background:#ff451c;height:20px;line-height:20px;color:#fff;padding:0 10px;margin-right:10px;}
.supporter{padding:4px 10px 0;}
.supporter span{font-size:12px;color:#777;line-height:22px;float:left;}
.supporter em{display:block;color:#333;}
.m_01{text-align:left;width:77px;}
.m_02{text-align:left;width:70px;}
.m_03{text-align:right;width:52px;}
.advertisement{padding-top:20px;}
.advertisement img{width:292px;}
.dealSupporter{padding-top:30px;overflow:hidden;}
.supperList{width:728px;overflow:hidden;}
.supperList li{float:left;padding:0 18px 10px 0;}
.information{width:160px;height:130px;background:#fbfdfb;border:1px solid #dadada;border-bottom:0;text-align:center;}
.superPhoto{display:block;width:50px;height:50px;overflow:hidden;margin:0 auto;padding-top:8px;}
.superPhoto img{width:100%;}
.supTit{font-size:14px;color:#333;line-height:20px;font-weight:normal;}
.information p{font-size:12px;color:#838383;padding:2px 0;line-height:22px;}
.money{display:block;font-size:12px;color:#00b6ff;}
.private_Letter{display:block;width:160px;line-height:40px;text-align:center;background:#fbfdfb;border:1px solid #dadada;font-size:14px;color:#ff451c;-webkit-transition: all 0.8s ease;-moz-transition: all 0.8s ease;-o-transition: all 0.8s ease;transition: all 0.8s ease;}
.private_Letter:hover{background:#ff451c;color:#fff;border-top:1px solid #dadada;}
.itemPage{margin-top:30px;text-align:center;}
.itemPage a,.itemPage em{border:1px solid #dddddd;display:inline-block;font-size:12px;font-weight:bold;height:38px;line-height:38px;margin:0 4px;padding:0 16px;vertical-align:middle;}
.itemPage a.actived{background-color: #ff451c;border-color: #ff451c;color: #fff;}
.itemPage a:hover{border-color: #ff451c;}
.commentWarp{padding-top:30px;}
.commenTarea{width:100%;position:relative;}
.commenTarea textarea{width:700px;border:1px solid #e4e4e4;height:175px;padding:0;margin:0;overflow-y:auto;}
.upload{position:absolute;left:10px;bottom:55px;width:16px;height:16px;background:url(../images/upload.jpg) no-repeat 0 0;z-index:9;}
.commBtn{width:100%;height:44px;background:#f7f7f7;line-height:44px;}
.bntIcon01{float:left;height:44px;width:40px;background:url(../images/icon_22.png) no-repeat center center;}
.comReplyBtn{float:right;font-size:14px;margin-right:40px;}
.entire{line-height:44px;height:44px;background:#f7f7f7;margin-top:20px;}
.entire a{font-size:12px;color:#999;padding:0 20px 0 10px;display:inline-block;}
.entire a:hover{color:#ff451c;}
.commList,.commInfo{width:100%;}
.commhuifu{ clear:both; margin-left:57px;  width:640px;}
.commhuifu h3{clear:both; margin-left:57px; font-weight:normal; font-size:12px;}
.commList li{width:100%;float:left;padding:4px 0 5px;border-bottom:1px solid #f7f7f7;}
.commList li img{margin:10px 8px 0 0;}
.comTit{font-size:12px;color:#333;width:640px;line-height:22px;padding-top:11px;}
.comTit a{font-size:14px;color:#ff451c;}
.comTit span{font-size:12px;color:#ccc;padding-left:4px;}
.comTit em{color:#a0a0a0;font-size:12px;}
.comTit1{font-size:12px;color:#333;width:580px;line-height:22px;padding-top:11px;}
.comTit1 a{font-size:14px;color:#ff451c;}
.comTit1 span{font-size:12px;color:#ccc;padding-left:4px;}
.comTit1 em{color:#a0a0a0;font-size:12px;}
.p_hn{line-height:24px;text-align:right;font-size:12px; padding-top: 50px; }
.p_hn a{margin-left:10px;display:inline-block;color:#ff451c;}
.comNum{padding-left:16px;background:url(../images/icon_23.png) no-repeat 0 center;}
.criticism{width:645px;padding-top:10px;float:right;}
.criticism textarea{width:645px;height:45px;border:1px solid #e4e4e4;padding:0;margin:0;overflow-y:auto;}
.showLogin{text-align:right;}
.showLogin a{margin:12px 0 17px;border:2px solid #ff451c;color:#ff451c;display:inline-block;line-height:26px;padding:0 10px;-webkit-transition: all 0.8s ease;-moz-transition: all 0.8s ease;-o-transition: all 0.8s ease;transition: all 0.8s ease;}
.showLogin a:hover{color:#fff;background:#ff451c;}
.newItemNav{width:100%;padding-top:56px;background:#f9f9f9;margin-bottom:30px;}
.NewNavlist{border-top:1px solid #fff;width:100%;height:196px;}
.NewNavlist li{float:left;width:25%;height:196px;}
.NewNavlist li .navitTit{font-size:20px;width:100%;line-height:24px;padding:122px 0 33px 0;text-align:center;color:#c0c0c0;}
.Newitem_01{background:url(../images/NewItemicon_01.png) no-repeat center 33%;}
.Newitem_02{background:url(../images/NewItemicon_02.png) no-repeat center 33%;}
.Newitem_03{background:url(../images/NewItemicon_03.png) no-repeat center 33%;}
.Newitem_04{background:url(../images/NewItemicon_04.png) no-repeat center 33%;}
.NewNavlist li .itemNavBottom{font-size:12px;color:#474747;line-height:16px;height:17px;background:#dad8d9;text-align:center;position:relative;}
.NewNavlist li .itemNavBottom em{position:absolute;right:-9px;height:17px;width:9px;z-index:99;}
.NewNavlist li.active .navitTit,
.NewNavlist li .navitTit:hover{color:#ff2e00;background-color:#f0f0f0;}
.NewNavlist li.active .itemNavBottom{color:#fff;background:#ff451c;}
.NewNavlist li.active .itemNavBottom em{background:url(../images/icon_24.png) no-repeat 0 0;}
.newItemCon{background:#f9f9fb;border:1px solid #f1f1f1;min-height:200px;padding-bottom:40px;}
.itemTopTit{height:57px;width:100%;text-align:center;padding:50px 0 37px;}
.ItemFormL{float:left;width:846px;}
.ItemInfo{width:100%;}
.ItemInfo dt{float:left;width:120px;text-align:right;font-size:12px;line-height:38px;padding:0 20px 25px 0;}
.ItemInfo dd{float:left;width:706px;padding-bottom:25px;position:relative;}
.ItemFormR{float:right;width:300px;padding-right:40px;}
.itemBorder{border:1px solid #cbcbcb;background:#fff;position:relative;}
.ItemImg{width:298px;height:250px;display:block;}
.itemName{padding:10px 44px;color:#333;height:80px;font-size:12px;}
.itemSupporter{padding:10px 20px;border-top:4px solid #FF451C;}
.itemSupporter span{font-size:12px;float:left;line-height:22px;color:#777px;}
.itemSupporter em{color: #333;display: block}
.itemSupporter .m_01{width:94px;}
.itemSupporter .m_02{width:74px;}
.itemSupporter .m_03{width:74px;}
.itemPhoto{position:absolute;top:188px;right:19px;width:69px;height:69px;}
.itemPhoto img{width:65px;height:65px;border:2px solid #fff;}
.ItemInfo em{font-size:12px;padding-left:10px;line-height:36px;}
.red{color:red;}
.itemInpBox{padding:9px 11px;height:18px;line-height:18px;float:left;width:676px;border:1px solid #cbcbcb;background:#fff;}
.itemInpBox input{line-height:18px;width:100%;font-size:12px;color:#2e2e2e;border:0;}
.itemtextareaBox{padding:0 4px;line-height:18px;float:left;width:690px;border:1px solid #cbcbcb;background:#fff;}
.itemtextareaBox textarea{line-height:18px;width:100%;font-size:12px;color:#2e2e2e;border:0;overflow-y:auto;}
.itemPageBtn{height:38px;padding:10px 26px 20px 0;text-align:right;}
.setBtn{height:38px;padding:10px 26px 20px 120px;text-align:left;}
.setBtn .PageBtn{margin-right:10px;cursor:pointer;min-width:100px;}
.PageBtn{+display:inline;display:inline-block;font-size:12px;background:#ff451c;padding:0 15px;color:#fff;line-height:38px;height:38px;border:0;margin:0;}
.PageBtn:hover{color:#fff;}
.errorMsg{position:absolute;bottom:7px;color:#f00;font-size:12px;line-height:18px;}
.selradio span{line-height:22px;}
.selradio em{float:left;line-height:22px;}
.selradio label{float:left;width:108px;height:56px;padding:20px 0 20px;font-size:14px;margin-right:7px;cursor:pointer;background-color:#f9f9fb;color:#cbcbcb;text-align:center;border:1px solid #cbcbcb;}
.selradio label img{ display:block; margin-left:39px;}
.selradio label.whitered{color:#fff;background-color:#e24834;border-color:#e24834;}
.radNo,.Nodis{float:left;margin-left:-9999px;}
.selproperty span{padding:11px 20px 0 0;min-width:66px;float:left;}
.selproperty em{float:left;line-height:22px;}
.selproperty label{font-size:14px;height:16px;background:url(../images/radio_01.png) no-repeat 0 center;line-height:16px;color:#2e2e2e;padding-left:27px;cursor:pointer;}
.selproperty label.whitered{background:url(../images/radio_02.png) no-repeat 0 center;}
.settcheck{padding:11px 20px 0 0;min-width:66px;float:left;}
.settcheck label{font-size:14px;height:16px;background:url(../images/s_checkorg.gif) no-repeat 0 2px;line-height:16px;color:#2e2e2e;padding-left:27px;cursor:pointer;}
.settcheck label.checked{background-position:0 -22px;}
.tallyBox{width:72%;float:left;}
.smgSelectText{display: block;}
.smg-inline,
.smg-inline .smgSelectText{display:inline-block;}
.smgSelectWrap{padding-left: 8px;font-family:'Microsoft Yahei';color:#183965;}
.smgSelectShow{z-index: 4}
.smgSelectShow{position:relative;}
.smgSelectText{line-height: 28px;cursor: pointer;font-size: 14px;}
.smgSelectListWrap{display:none;position:absolute;width: 252px;left: 0px;top: 25px;padding-bottom:3px;}
.smgSelectList{background:#fff;border:1px solid #c2dfff;border-style:none solid solid;max-height:120px;overflow: auto;}
.smgSelectList p{height:36px;color: #183965;padding-bottom:0;}
.smgIthems{display:block;height:26px;padding-left:7px;line-height:26px;font-size:14px;cursor:pointer;}
.smgIthems:hover{background:#d2e7fd;}
.smgSelectWrap .showup{top:auto;bottom:31px;padding-top:3px;padding-bottom:0;}
.smgSelectWrap .showup .smgSelectList{border-style:solid solid none;}
.ItemInfo .listTabSel{display: block;height: 36px;line-height:36px;border:1px solid #cbcbcb;background:#fff url(../images/cxlistSelbg.gif) no-repeat 100% 0;padding-left:0;width:20%;margin-right:10px;}
.ItemInfo .listTabSel .smgSelectText{font-size:12px;line-height:36px;color:#2e2e2e;padding-left:8px;width:auto;}
.ItemInfo .listTabSel .smgSelectListWrap{width: 100%;left: -1px;top: 35px;padding-bottom:0;border:1px solid #cbcbcb;border-top:0;}
.ItemInfo .listTabSel .smgSelectList{border:0;}
.ItemInfo .listTabSel .smgIthems{font-size: 12px;color:#2e2e2e;line-height:36px;padding-left:8px;}
.ItemInfo .smgSelectShow{background-image:url(../images/select-h.png);}
.box{position:relative;float:left;}
input.uploadFile{position:absolute;right:0px;top:0px;opacity:0;filter:alpha(opacity=0);cursor:pointer;width:704px;height:40px;line-height:40px;overflow: hidden;}
input.textbox{float:left;padding:5px;color:#999;height:28px;line-height:28px;border:1px #cbcbcb solid;width:608px;margin-right:4px;}
input.uploadVideo{position:absolute;right:0px;top:0px;opacity:0;filter:alpha(opacity=0);cursor:pointer;width:80px;height:40px;line-height:40px;overflow: hidden;}
.setfileBox{width:100%;padding-bottom:10px;}
input.photoText{float:left;padding:5px;color:#999;height:28px;line-height:28px;border:1px #cbcbcb solid;width:260px;margin-right:4px;}
input.SetloadFile{position:absolute;left:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;width:356px;height:40px;line-height:40px;overflow: hidden;}
.link{float:left;display:inline-block;padding:4px 26px;color:#fff;font-size:14px;cursor:pointer;background-color:#cbcbcb;line-height:32px;text-decoration:none;}
.SetTips{width:100%;font-size:12px;line-height:24px;padding-top:7px;color:#2e2e2e;}
.proTopBorder{border-top:1px solid #ececee;margin:30px 20px 20px 40px;border-bottom:10px;height:1px;overflow:hidden;}
.nopB dt,.nopB dd{padding-bottom:0;}
.orderCon{background:#f9f9fb;border:1px solid #f1f1f1;min-height:100px;}
.orderlist{border-top:1px solid #fff;width:100%;height:196px;}
.orderlist li{float:left;width:33.33333%;height:196px;}
.orderlist li .navitTit{font-size:20px;width:100%;line-height:24px;padding:122px 0 33px 0;text-align:center;color:#c0c0c0;}
.Newitem_01{background:url(../images/NewItemicon_01.png) no-repeat center 33%;}
.Newitem_02{background:url(../images/NewItemicon_02.png) no-repeat center 33%;}
.Newitem_03{background:url(../images/NewItemicon_03.png) no-repeat center 33%;}
.orderlist li .itemNavBottom{font-size:12px;color:#474747;line-height:16px;height:17px;background:#DAD8D9;text-align:center;position:relative;}
.orderlist li .itemNavBottom em{position:absolute;right:-9px;height:17px;width:9px;z-index:99;}
.orderlist li.active .itemNavBottom{color:#fff;background:#ff451c;}
.orderlist li.active .itemNavBottom em{background:url(../images/icon_24.png) no-repeat 0 0;}
.orderlist li.active .navitTit,
.orderlist li .navitTit:hover{color:#ff2e00;background-color:#f0f0f0;}
.orderItem{padding:10px;}
.orderItem img{float:left;width:318px;height:248px;border:1px solid #e7e7e7;margin-right:20px;}
.orderRTop{margin-left:340px;}
.orderRTop p{font-size:12px;color:#777;line-height:24px;}
.orderTit{font-size:20px;line-height:36px;color:#2e2e2e;font-weight:normal;padding-bottom:12px;border-bottom:1px solid #ebeaec;margin-bottom:10px;}
.orderinfo{padding:10px 40px;}
.orderTopline{border-top:1px solid #ececee;margin:20px 0;border-bottom:10px;height:1px;overflow:hidden;}
.orderinfoTit{font-size:18px;color:#2e2e2e;font-weight:bold;padding-bottom:10px;}
.orderinpBox{padding:9px 11px;height:18px;line-height:18px;float:left;width:50%;border:1px solid #cbcbcb;background:#fff;}
.orderinpBox input{line-height:18px;width:100%;font-size:12px;color:#2e2e2e;border:0;}
.orderTips{width:663px;margin-left:120px;font-size:12px;line-height:22px;color:#454545;background:#F0F0F1;padding:18px;border:1px solid #bdbdbd;margin-top:-14px;}
.orderTips img{padding-right:10px;padding-top:5px;width:16px;height:12px;}
.orderAmount{width:68.5%;text-align:right;font-size:18px;color:#2e2e2e;padding:20px 0;}
.orderAmount span{font-size:36px;color:#ff451c;font-weight:bolod;}
.orderAmount em{font-size:12px;color:#777;padding-top:4px;display:block;text-align:right;}
.orderBank{padding:0 42px;}
.orderLine{padding-bottom:15px;border-bottom:1px solid #e4e4e4;}
.alipay{width:100%;padding-bottom:12px;border-top:1px solid #e4e4e4;border-bottom:1px dashed #e4e4e4;}
.Selbank .alarmradio{padding:11px 20px 0 0;min-width:66px;float:left;}
.Selbank label{font-size:14px;height:42px;background:url(../images/radio_01.png) no-repeat 0 center;line-height:42px;color:#2e2e2e;padding-left:27px;cursor:pointer;display:block;}
.Selbank label img{width:160px;height:40px;border:1px solid #ccc;}
.Selbank label.whitered{background:url(../images/radio_02.png) no-repeat 0 center;}
.Selbank label.whitered img{border-color:#f07052;}
.orderBankTit{font-size:14px;color:#2e2e2e;line-height:22px;padding-top:10px;}
.paySucceed{text-align:center;padding:90px 0;}
.succTit{font-size:24px;color:#2e2e2e;padding:20px 0 15px;}
.succJump{font-size:12px;color:#777;}
.succJump em{font-size:16px;padding-right:4px;color:#ff451c}
.suppTit{font-size:30px;line-height:36px;padding:60px 0 40px;font-weight:normal;color:#2e2e2e;text-align:center;}
.suppSubtit{font-size:14px;color:#2e2e2e;text-align:center;padding: 20px 0 40px;margin:0 13%;border-top:1px solid #dad8d9;}
.Ftit24{font-size:24px;line-height:24px;color:#ff451c;text-align:left;padding:20px 0;margin:0 40px;}
.FsubTit18{font-size:18px;margin:0 40px;padding-bottom:20px;}
.itemSupfrom{margin:0 40px;padding-bottom:40px;float:left;width:80%;}
.itemSupfrom em{font-size:12px;float:left;color:#454545;line-height:50px;font-style:italic;}
.itemSuptext{font-size:24px;color:#ff451c;width:140px;float:left;height:52px;line-height:52px;border:1px solid #ff451c;padding:0 10px;margin-right:10px;}
.supportForm{padding:0 0 10px;display:block;}
.supportForm li{border-top:1px solid #f9f9fb;border-bottom:1px solid #ebeaec;padding:20px 0;float:left;line-height:20px;width:100%;position:relative;}
.supportForm .settcheck{float:left;width:20%;margin-left:40px;padding:0;}
.supportForm em{float:left;color:#2e2e2e;font-size:12px;}
/*.supportForm .settcheck i{display:block;font-size:12px;color:#2e2e2e;padding-left:30px;}*/
.supportForm .settcheck i{display:block;font-size:12px;color:#2e2e2e;padding-left:50px;}
.supportForm li:hover{border-bottom:1px solid #F49E8C;border-top:1px solid #F49E8C;background:#F9F5F7;}
.supportForm li:hover .ochecked{color:#ff461d;font-weight:bold;background:url(../images/curCheckbg.jpg) no-repeat 0 1px;}
.disabled{position:absolute;height:100%;width:100%;top:0;left:0;display:none;}
.supportForm li.gray em,
.supportForm li.gray .checked{color:#aaa;}
.supportForm li.gray:hover{border-top:1px solid #f9f9fb;border-bottom:1px solid #ebeaec;background:none;}
.supportForm li.gray .checked{background:url(../images/grayBg.jpg) no-repeat 0 1px;}
.supportForm li.gray .disabled{display:block;}
.supportForm li.gray .settcheck i{background:url(../images/bg01.jpg) no-repeat 30px 2px;padding-left:34px;color:#fff;}
.pL40{padding-left:40px;}
.auditTit{font-size:18px;line-height:24px;padding:10px 66px;font-weight:normal;}
.auditSub{font-size:12px;line-height:24px;padding-left:66px;padding-bottom:10px;}
.launchWarp{margin-top:58px;background:#fecc09 url(../images/itemBannerBg.jpg) no-repeat 0 100%;height:562px;widht:100%;position:relative;}
.launTit{font-size:40px;line-height:40px;color:#f04e30;font-weight:normal;text-align:center;padding:81px 0 24px;border-top:1px solid #fff;}
.launConText{font-size:12px;line-height:20px;text-align:center;color:#fff;}
.launForm{font-size:12px;line-height:20px;text-align:center;color:#2e2e2e;padding-top:20px;}
.bottomlaunText{position:absolute;left:50%;bottom:200px;font-size:40px;color:#fff;width:457px;height:96px;line-height:96px;border:3px solid #fff;text-align:center;margin-left:-228px;margin-top:22px;z-index:99;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.bottomlaunText:hover{background:#ff451c;color:#fff;}
.itemList{width:100%;float:left;padding:10px 0;}
.itemList li{float:left;height:84px;width:108px;border-width:1px;border-style:solid;margin-right:8px;cursor:pointer;background:#fff;}
.itemList li span{display:block;text-align:center;font-size:14px;padding-top:44px;line-height:24px;}
.all{color:#ff451c;border-color:#ff451c;}
.itemList li.all span{background:url(../images/itemicon03.png) no-repeat center 20px;}
.itemList li.active{background:#ff451c;color:#fff;border-color:#ff451c;}
.itemList li.active.all span{background:url(../images/itemicon03-h.png) no-repeat center 20px;}
.item01{border-color:#eb361b;color:#eb361b;}
.itemList li.item01 span{background:url(../images/sortIcon_01.png) no-repeat center 20px;}
.itemList li.active.item01 span{background:url(../images/itemicon04-h.png) no-repeat center 20px;}
.item02{border-color:#ffc31a;color:#ffc31a;}
.itemList li.item02 span{background:url(../images/sortIcon_02.png) no-repeat center 20px;}
.itemList li.active.item02 span{background:url(../images/itemicon05-h.png) no-repeat center 20px;}
.item03{border-color:#3abb9f;color:#3abb9f;}
.itemList li.item03 span{background:url(../images/sortIcon_03.png) no-repeat center 20px;}
.itemList li.active.item03 span{background:url(../images/itemicon04-h.png) no-repeat center 20px;}
.item04{border-color:#b8af2c;color:#b8af2c;}
.itemList li.item04 span{background:url(../images/sortIcon_04.png) no-repeat center 20px;}
.itemList li.active.item04 span{background:url(../images/itemicon05-h.png) no-repeat center 20px;}
.item05{border-color:#76bc3f;color:#76bc3f;}
.itemList li.item05 span{background:url(../images/sortIcon_05.png) no-repeat center 20px;}
.itemList li.active.item05 span{background:url(../images/itemicon04-h.png) no-repeat center 20px;}
.item06{border-color:#00b6ff;color:#00b6ff;}
.itemList li.item06 span{background:url(../images/sortIcon_06.png) no-repeat center 20px;}
.itemList li.active.item06 span{background:url(../images/itemicon05-h.png) no-repeat center 20px;}
.itemTopAll{font-size:12px;color:#2e2e2e;height:28px;line-height:28px;width:100%;display:inline-block;}
.itemTopAll dl{ float:left; margin-right:30px; position:relative;}
.itemTopAll dl dt i{ background:url(../images/up.png) no-repeat; display: inline-block; height: 8px;  margin-left: 6px; transition: all 0.2s ease-in 0s; vertical-align: middle; width: 14px;}
.itemTopAll dl dd{ display:none; position:absolute; z-index:99;}
.itemTopAll dl dd ul{ display:inline-block; background:#fff; box-shadow:2px 2px 2px 2px #999;}
.itemTopAll dl dd ul li{ width:120px; text-align:center; height:40px; line-height:40px; border-bottom:1px solid #ccc;}
.itemTopAll dl dd ul li a{ width:100%; display:block;}
.itemTopAll dl dd ul li a:hover{ background:#f5f5f5;}
.itemTopAll dl:hover dt i{ transform: rotate(180deg);}
.itemTopAll dl:hover dd{ display:block;}
.itemW5{width:100%; display:inline-block;}
.MitemList{width:100%;}
.MitemList li{float:left;width:49%;border:1px solid #dfdfdf;background:#fff;padding:10px 20px 10px 10px; box-sizing:border-box;position:relative;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:0 6px 10px;}
.itemGenre{position:absolute;right:16px;top:18px;font-size:12px;line-height:20px;height:20px;padding:0 10px;border:1px solid #333;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;z-index:99;}
.genre01{color:#eb361b;border-color:#eb361b;}
.genre02{color:#ffc31a;border-color:#ffc31a;}
.genre03{color:#3abb9f;border-color:#3abb9f;}
.genre04{color:#b8af2c;border-color:#b8af2c;}
.genre05{color:#76bc3f;border-color:#76bc3f;}
.genre06{color:#00b6ff;border-color:#00b6ff;}
.mitemImg{border:1px solid #e7e7e7;height:182px;width:202px;float:left;margin-right:20px;}
.mitemImg img{width:200px;height:180px;}
.mainTit{font-size:18px;color:#ff461d;line-height:34px;height:34px;overflow:hidden;position:relative;}
.mainTit a{color:#ff461d;padding-right:75px;display:block;}
.mainSubCon{font-size:12px;color:#454545;line-height:22px;padding-bottom:7px; height:69px; word-break:break-all;}
.sustain{height:74px;width:326px;float:right;background:#f7f7f7;}
.raising{padding:10px 0;height:38px;}
.raising dd{font-size:12px;color:#666;float:left;padding:0 20px;border-right:1px solid #dcdcdc;}
.raising dd.Nobor{border-right:0;}
.raising dd em{font-size:16px;color:#333;padding-bottom:10px;display:block;}
.progressBar{width:100%;height:16px;background:#e8e8e8;overflow:hidden;}
.progress{display:block;height:14px;border:1px solid #e8e8e8;background:#86cc33;}
.sustainTit{font-size:12px;color:#fff;padding-top:44px;text-align:center;width:66px;background:#ff451c url(../images/icon_08.png) no-repeat center 10px;height:30px;}
.sustainTit:hover{background-color:#ff2e00;color:#fff;}
.endTips{position:absolute;left:6px;top:25px;font-size:12px;color:#fff;line-height:26px;width:80px;height:28px;padding-bottom:3px;background:url(../images/endTips.png) no-repeat 0 0; text-align:center;}
.endTips em{font-size:18px;color:#fff;font-weight:bold;padding-right:3px;}

/*发私信弹出层*/
#bg{display: none;position: absolute;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
.reply{width: 700px;border-top: 5px solid #ff451c;display: none;position: fixed; z-index: 1002;background: #fff;overflow: auto;}
.reply h1{width:680px;display: block;height: 60px;padding: 10px;line-height: 60px;font-size: 20px;border-bottom:1px solid #bec2cd;}
.reply h1 img{width: 60px;height: 60px;display: inline-block;float: left;margin-right: 15px;}
.reply h1 a{color: #ff451c;}
.reply h1 span{right: 0px;float: right;	margin-top: -23px;color: #ff451c;cursor: pointer;}
.reply .mesformBox{width: 100%;}
.reply .mesArea{font-size: 12px;width: 678px;border: 1px solid #e4e4e4;height: 200px;padding: 2px;line-height: 20px;overflow-y: auto;background: #f7f7f7;margin: 0;font-family: "微软雅黑";color: #333;padding: 10px;}
.reply h3{display: block;height: 60px;line-height: 60px;font-weight: normal;padding-left: 20px;}
.reply .mesformBox .mesInput{width: 300px;height: 35px;line-height: 35px;margin-left: 10px;}
.reply .mesformBox .commBtn{width: 100%;height: 50px;background: #f7f7f7;line-height: 50px;border-bottom: 1px solid #e4e4e4; padding-right:10px; box-sizing:border-box;}
.reply .mesformBox .commBtn em{color: #ff451c;}
.reply .mesformBox .bntIcon01{float: left;height: 44px;width: 40px;background: url(../images/icon_22.png) no-repeat center center;}
.reply .mesformBox .comReplyBtn{float: right;font-size: 14px;margin-right: 0;padding: 0 27px;background: #e4e4e4;}