<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSCM.Library.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DSCM.Library.DSCMSet" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DSCM.Library.Settings>
            <setting name="DSCM_TIME" serializeAs="String">
                <value>2020-04-17 00:00:00</value>
            </setting>
            <setting name="DSCM_REGEDIT" serializeAs="String">
                <value>[localhost,192.168.1.2,zhongchou.sddxcb.com]|2020-04-17 00:00:00</value>
            </setting>
            <setting name="DSCM_URL" serializeAs="String">
                <value>http://www.sddxcb.com</value>
            </setting>
            <setting name="Access_Token" serializeAs="String">
                <value/>
            </setting>
        </DSCM.Library.Settings>
        <DSCM.Library.DSCMSet>
            <setting name="DSCM_TIME" serializeAs="String">
                <value>2015-03-17</value>
            </setting>
            <setting name="DSCM_REGEDIT" serializeAs="String">
                <value/>
            </setting>
        </DSCM.Library.DSCMSet>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
